{% load static %}
<li>
    <article class="post">
        <a href="{% url "post-detail-page" post.slug %}" />
            <img src="{% static "blog/images/"|add:post.image %}" alt="{{ post.title }}" />
            <div class="post___content">
                <h3>{{ post.title }}</h3>
                <p>{{post.excerpt}}</p>
            </div>
        </a>
    </article>
</li>