{% extends "base.html" %}
{% load static %}
{% block title %}
All My Posts
{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/posts.css" %}" />
    <link rel="stylesheet" href="{% static "blog/all_posts.css" %}" />
{% endblock %}
{% block content %}
<section id="all-posts">
    <h2>Collected Post</h2>
    <ul>
        {% for post in all_posts %}
        {% include "blog/all-posts.html" %}
        {% endfor %}
    </ul>
<section>
{% endblock %}