{% extends "base.html" %}
{% load static %}
{% block title %}
My Blog
{% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}
{% block content %}
<section id="welcome">
    <header>
        <img src="{% static "blog/images/dedy.jpeg" %}" alt="Dedy Blog" />
        <h2>Dedy Blog</h2>
    </header>
    <p>Hi My Name is Dedy</p>
</section>
<section id="latest-posts">
    <h2>My Latest Pots</h2>
    <ul>
        {% for post in posts %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>
<section id="about">
    <h2>What i do</h2>
    <p>I love programming general</p>
    <p>Programming LARAVEL,PYTHON, etc...</p>
</section>
{% endblock %}