{% extends "base.html" %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/posts-detail.css" %}" />
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <article>
            <img src="{% static "blog/images/"|add:post.image %}" alt="{{ post.title }}" />
            <address>{{ post.author|title }}</address>
            <div>
                Last Update on<time>{{ post.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>
    <main>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
    </main>
{% endblock %}