{% extends "base.html" %}

{% block title %}
We Didn't Find that page
{% endblock %}

{% block content %}
    <h2>We're Sorry!</h2>
    <p>But We couldn't find this page!</p>
    <code>404</code>
{% endblock %}
