{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}" />
    {% block css_files %}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <h2><a href="{% url "starting-page" %}">Dedy's Blog</a></h2>
        <nav>
            <a href="{% url "posts-page" %}">All Posts</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>